:root {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;

  --Second-color: #e44449;
  --Primary-color: #f15156;
  --text-color: #f1f1f1;
  --Second-text-color: #f4d35e;
  --section-color: #0d3b66;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
  color: var(--text-color);

  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body::after {
  content: '';
  position: absolute;
  z-index: -1;
  background: var(--Primary-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 30rem;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.logo a {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 24rem;
}

header {
  background-color: var(--Primary-color);
}

#home {
  margin-top: 10rem;
}

/* ==================== menu ==================== */

nav {
  background: var(--Second-color);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.hamburger-menu {
  width: 4rem;
  height: 4rem;
  background: var(--text-color);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  display: none;
  visibility: hidden;
  display: grid;
}

.menu {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.menu span {
  position: absolute;
  width: 2rem;
  height: 0.4rem;
  background: var(--Primary-color);
  border-radius: 9999px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.menu span.top {
  left: 1rem;
  top: 1.3rem;
}

.menu span.middle {
  left: 1rem;
  top: 1.91rem;
}

.menu span.bottom {
  left: 1rem;
  bottom: 1.1rem;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 2.3rem;
  left: 1.3rem;
  top: 1.1rem;
}

input[type]:checked ~ span.middle {
  transform: translateX(-2rem);
  opacity: 0;
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 2.3rem;
  bottom: 0.9rem;
  left: 1.1rem;
  box-shadow: 0 0 1rem #49505777;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 110%;

  position: absolute;
  padding: 2.8rem 2rem;
  border-radius: 0 0 2rem 2rem;
  left: 0;
  right: 0;
  top: 8.5rem;
  background: var(--Second-color);

  animation: slide 0.5s ease-in-out;
}

.menu-list li:not(:hover) {
  opacity: 0.7;
}

@keyframes slide {
  0% {
    transform: translatey(-9%);
  }
  100% {
    transform: translatey(0);
  }
}

/* ================================= */

section {
  margin-inline: auto;
}

.header-warp {
  padding-left: 4rem;
}

.friends {
  margin-top: 5.2rem;
}

.pets img {
  width: 3rem;
  height: 3rem;
  outline: var(--Primary-color) solid 3px;
  border-radius: 50%;
}

.pets img + img {
  margin-left: -1rem;
}

.pets img:hover {
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 44px;
  line-height: 110%;
  letter-spacing: -0.02em;
  margin-top: 3.5rem;
  max-width: 35rem;
}

.mosaic-grid {
  margin-inline: auto;
  position: relative;

  max-width: 90rem;
  width: 100%;
  height: 30rem;

  margin-top: 3.3rem;

  background-image: url(./assets/images/bg-dog.png),
    url(./assets/images/mobile-cards.svg);
  background-position: center bottom 2.3rem, center;
  background-repeat: no-repeat, no-repeat;
}

.mosaic-grid button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  border: none;

  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.mosaic-grid button:hover {
  filter: brightness(0.9);
}

/* ================ about ================ */

#about {
  position: relative;
  z-index: -1;
  background: white;
  height: fit-content;
  padding-block: 3rem;
  color: var(--section-color);
}

#about .wrap {
  padding-inline: 2rem;
}

#about h2 {
  font-size: 3rem;
  line-height: 110%;
  margin-top: 7rem;
}

#about .cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-inline: auto;
}

#about .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.6rem;
  border: 1px solid rgba(241, 81, 86, 0.144);
  border-radius: 20px;
  padding: 3rem;
  background: #fdeceda0;
  flex: 1 0 29rem;
  height: 25rem;
}

#about .cards .card img {
  width: 3rem;
}

.app-screen {
  position: relative;
  background-image: url(./assets/images/app-screen.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 40rem;
}

.app-screen::after {
  content: '';
  width: 100%;
  height: 30rem;
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  z-index: -1;
  background: #fdeced;
  border-radius: 2rem;
  opacity: 0.5;
}

/* ============ Section many friends ============ */
#many-friends {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

#many-friends .wrapper {
  width: 90%;
  background: var(--Second-color);
  border-radius: 2rem;
}

#many-friends .wrap {
  padding-inline: 3rem;
  position: relative;
}

#many-friends h2 {
  font-size: 3rem;
  line-height: 110%;
  margin-top: 3rem;
  color: var(--Second-text-color);
  text-align: center;
}

#many-friends p {
  margin-top: 4rem;
  text-align: justify;
}

#many-friends .wrapper .wrap p:nth-child(1) {
  display: none;
}

#many-friends button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
  margin-inline: auto;
  width: 80%;
  height: 5.5rem;

  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
}

#many-friends button:hover {
  filter: brightness(0.9);
}

/* ==================== Slider ==================== */

.content {
  max-width: 40rem;
  width: 100%;
  overflow-x: hidden;
  border-radius: 2rem;
  margin-inline: auto;
  margin-block: 3rem 6rem;
  background: #f2f2f2;
}

.keen-slider {
  display: flex;
  width: 100%;
  position: relative;
  cursor: grab;
}

.keen-slider:active {
  cursor: grabbing;
}

[class^='number-slide'],
[class*=' number-slide'] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.keen-slider__slide {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4px 3px;
  background: #f1f1f1;
}

.keen-slider__slide h3 {
  display: flex;
  align-items: center;
  color: var(--section-color);
  font-size: 1.6rem;
  height: 30%;
}

.keen-slider__slide .image {
  width: 100%;
  height: 70%;
  border-radius: 1.8rem;
  background-size: cover;
}

.number-slide1 .image {
  background-image: url('https://images.unsplash.com/photo-1519052537078-e6302a4968d4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-position: center;
}

.number-slide2 .image {
  background-image: url(./assets/images/Cleyton.png);
}

.number-slide3 .image {
  background-image: url(./assets/images/Aldo.png);
}

.number-slide4 .image {
  background-image: url('https://images.unsplash.com/photo-1579168765467-3b235f938439?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80');
  background-position: center;
}

.number-slide5 .image {
  background-image: url('https://images.unsplash.com/photo-1612143768495-89a340fc25c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fGdhdG8lMjBjaW56YXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
  background-position: center -13rem;
}

.number-slide6 .image {
  background-image: url('https://images.unsplash.com/photo-1540690280903-410fcab2ab47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGh1c2t5JTIwc2liZXJpYW5vfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-position: center;
}

.dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  position: relative;
  border: none;
  width: 10px;
  height: 10px;
  background: #d8d8d871;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: #f2f2f2;
}

.arrow {
  opacity: 0;
  pointer-events: none;
  display: grid;
  place-items: center;

  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;

  background: #fcfcfc;
  border-radius: 50%;
}

.arrow--left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.5rem;
  color: black;
}

.arrow--right {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  color: black;
}

.arrow--disabled.arrow--left {
  color: gray;
}

.arrow--disabled.arrow--right {
  color: gray;
}

i {
  font-size: 2rem;
  font-weight: 800;
}

/* ======================================= */

/* ============ Media queries ============ */

@media (min-width: 1024px) {
  .menu-list {
    flex-direction: row;
    gap: 3rem;
    position: unset;
    height: fit-content;
    padding: 0;
    margin-right: 2rem;
    background: unset;
    border-radius: unset;
  }

  nav {
    background: var(--Primary-color);
  }

  #home {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    height: 70rem;
  }

  .mosaic-grid {
    height: 95%;
    background-image: url(./assets/images/bg-dog.png),
      url(./assets/images/desktop-cards.svg);
    background-position: 2rem 0.5rem, top 3rem left;
    background-size: 31rem, 74rem;
  }

  .mosaic-grid button {
    bottom: 22.5rem;
    left: 18rem;
    width: 26rem;
  }

  #home .wrap {
    width: 50%;
  }

  #about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 2.8rem;
    padding-inline: min(15%, 8rem);
  }

  #about .wrap {
    width: fit-content;
  }

  #about h2 {
    font-size: 4.8rem;
  }

  #about .cards {
    margin-top: 3.8rem;
  }

  .app-screen {
    background: rgba(253, 241, 242, 0.5);
    background-image: url(./assets/images/app-screen-descktop2.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    background-size: min(62%, 55rem);
    border-radius: 2rem;
  }

  .app-screen::after {
    display: none;
  }

  #many-friends .wrapper {
    display: flex;
    justify-content: space-around;
    padding: 10rem;
  }

  #many-friends .wrap {
    max-width: 50rem;
    width: 50%;
  }

  #many-friends .wrapper .wrap p:nth-child(1) {
    display: block;
    width: 100%;
    font-size: clamp(1.6rem, 2.4rem);
  }

  #many-friends .wrapper .wrap p:nth-child(2) {
    display: none;
  }

  #many-friends h2 {
    font-size: 4.8rem;
    line-height: 90%;
    text-align: left;
    margin-bottom: 10.6rem;
  }

  #many-friends button {
    width: 50%;
    margin-left: 0;
  }

  .keen-slider__slide h3 {
    font-size: 2.8rem;
  }

  #many-friends .content {
    max-width: 38rem;
    width: 100%;
  }

  .arrow {
    opacity: 1;
    pointer-events: all;
    width: 7rem;
    height: 7rem;

    border: 3px solid #f1f1f1;
    border-radius: 1rem;

    margin-top: 5rem;
  }

  .arrow--left {
    left: -5rem;
  }

  .arrow--disabled.arrow--left {
    background: none;
    color: white;
  }

  .arrow--disabled.arrow--right {
    background: none;
    color: white;
  }

  .arrow--right {
    right: -5rem;
  }
}

/* ============================================= */

/* ===== Scrollbar ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: transparent #f1f1f100;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: rgb(42, 42, 42);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(94, 94, 94);
  border: 2px solid #f1f1f100;
}
